.home_container {
    width: 350px;
    height: fit-content;
    background-color: #dedede;
    padding: 15px;
}

.home_title {
    font-size: 26px;
    text-align: center;
}

.home_date {
    text-align: center;
}

.home_date input {
    font-size: 13px;
    padding: 1px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #333;
    margin-left: 10px;
}