.movie_box {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.movie_ranking {
    width: 45px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.movie_title {
    width: 300px;
    font-size: 20px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie_rank_zero {
    width: 7px;
    height: 3.5px;
    border-top: solid 1px black;
}

.movie_rank_inc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid red;
}

.movie_rank_dec {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid blue;
}